[submodule "include/KMC"]
	path = include/KMC
	url = https://github.com/refresh-bio/KMC.git
[submodule "include/googletest"]
	path = include/googletest
	url = https://github.com/google/googletest.git
[submodule "include/benchmark"]
	path = include/benchmark
	url = https://github.com/google/benchmark.git
